# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite

# Conda
.conda/
.env/
*.yml
*.lock

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# Ignore the test folder
test/